@use 'src/assets/styles/config-scss/rem-calc-function.scss' as pxToRem;

::ng-deep {
  .p-button {
    background-color: var(--yale-blue);

    &:hover {
      background-color: var(--oxford-blue) !important;
    }
  }

}

:host {

  .contact-container {
    width: 100%;
    height: 100%;
    background-color: var(--rich-black);
    padding: 4rem 0;

    h2 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 4rem;
      color: #fff;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
      width: 100%;
      text-align: center;
    }

    .links-container {
      width: 100%;

      ul {
        width: 100%;
        display: flex;
        justify-content: space-around;

        li {

          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}


@media screen and (min-width: pxToRem.rem-calc(1024)) {
  .contact-container {

    .links-container {
      display: flex;
      justify-content: center;

      ul {
        max-width: pxToRem.rem-calc(960) !important;
        justify-content: space-between !important;

        button {
          width: 10rem !important;
        }

      }
    }
  }
}
