<p-toast position="top-right"></p-toast>

<div class="contact-container">
  <h2>Contact Me</h2>

  <div class="links-container">
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/matheusmarinholima/" target="_blank">
          <button pButton icon="pi pi-linkedin" label="LinkedIn"></button>
        </a>
      </li>
      <li>
        <a href="https://github.com/maatheux" target="_blank">
          <button pButton icon="pi pi-github" label="Github"></button>
        </a>
      </li>
      <li>
        <button pButton icon="pi pi-envelope" label="Email" (click)="CopyEmail()"></button>
      </li>
    </ul>
  </div>
</div>
