<div class="projects-container">
  <h2>Projects</h2>

  <div class="carousel-container">
    <p-carousel
    [value]="projectsInfo"
    [circular]="false"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-project pTemplate="item">
      <div
        class="project-item"
        [ngStyle]="{
          'background-image': 'url('+project.imageUrl+')',
          'cursor': 'pointer'
        }"
        (click)="linksPanel.toggle($event)"
      >
        <div class="title-box">
          <span>
            {{project.title}}
          </span>
        </div>

        <div class="is-under-construction-warning" *ngIf="project.isUnderConstruction">
          <span>It is under construction</span>
        </div>
      </div>

      <p-overlayPanel #linksPanel>
        <ng-template pTemplate>
          <div class="links-box">
            <a href="{{project.githubUrl}}" target="_blank">
              <button pButton pRipple label="Link do projeto no Github" icon="pi pi-github"></button>
            </a>
            <a href="{{project.projectUrl}}" target="_blank" *ngIf="project.projectUrl !== undefined">
              <button pButton pRipple label="Link do projeto" icon="pi pi-link"></button>
            </a>
          </div>
        </ng-template>
      </p-overlayPanel>

    </ng-template>

  </p-carousel>
  </div>

</div>
