@use 'src/assets/styles/config-scss/rem-calc-function.scss' as pxToRem;

::ng-deep {
  .p-link {
    background-color: var(--yale-blue);
  }

  .p-carousel-item {
    padding: 0 0.4rem;
  }
}

:host {
  .projects-container {
    padding: 3rem 0;

    h2 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 2.5rem;
      color: #fff;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
      width: 100%;
      text-align: center;
    }

    .project-item {
      width: '100%';
      height: pxToRem.rem-calc(160);
      background-position: left top;
      background-repeat: no-repeat;
      background-size: 120%;
      transition: all .5s;
      border-radius: 4px;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      .title-box {
        padding-top: 0.2rem;
        padding-right: 0.2rem;

        span {

          .pi {
            margin-left: .2rem;
            font-size: .75rem;
          }

          &:first-of-type {
            font-weight: 400;
            font-size: 1.1rem;
            color: #fff;
            padding: 0.25rem;
            border-radius: 0 0 6px 0;
            background: rgba(122, 117, 117, 0.6);

          }
        }
      }

      .is-under-construction-warning {
        font-weight: 400;
        color: #fff;
        padding: 0.25rem;
        border-radius: 0 6px 0 0;
        background: rgba(122, 117, 117, 0.6);
      }

      &:hover {
        transition: all 1s;
        background-size: 130%;
      }
    }

  }
}

.links-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: pxToRem.rem-calc(100) !important;
}

@media screen and (min-width: pxToRem.rem-calc(1024)) {
  .projects-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .carousel-container {
      max-width: pxToRem.rem-calc(960) !important;
      width: 100%;
      display: flex;
      justify-content: center;

      .project-item {
        height: 13.5vw !important;
        max-height: pxToRem.rem-calc(250) !important;

      }
    }

  }
}
