<div class="projects-container">
  <h2>Projects</h2>

  <p-carousel
    [value]="projectsInfo"
    [circular]="false"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-project pTemplate="item">
      <div
        class="project-item"
        [ngStyle]="{
          'background-image': 'url('+project.imageUrl+')',
          'cursor': 'pointer'
        }"
        (click)="linksPanel.toggle($event)"
      >
        <div class="title-box">
          <span>
            {{project.title}}
            <i
              class="pi pi-info-circle"
              pTooltip="It is under construction"
              tooltipPosition="top"
              *ngIf="project.isUnderConstruction"
            ></i>
          </span>
        </div>

        <!-- <div class="links-box">
          <a href="{{project.githubUrl}}" target="_blank" rel="noopener noreferrer">
            <i class="pi pi-github" pTooltip="Github Link" tooltipPosition="top"></i>
          </a>
          <a href="{{project.projectUrl}}" target="_blank" rel="noopener noreferrer">
            <i class="pi pi-link" pTooltip="Project Link" tooltipPosition="top"></i>
          </a>
        </div> -->
      </div>

      <p-overlayPanel #linksPanel>
        <ng-template pTemplate>
          <div class="links-box">
            <a href="{{project.githubUrl}}" target="_blank">
              <button pButton pRipple label="Link do projeto no Github" icon="pi pi-github"></button>
            </a>
            <a href="{{project.projectUrl}}" target="_blank">
              <button pButton pRipple label="Link do projeto" icon="pi pi-link"></button>
            </a>
          </div>
        </ng-template>
      </p-overlayPanel>

    </ng-template>

  </p-carousel>

</div>
