@use 'src/assets/styles/config-scss/rem-calc-function.scss' as pxToRem;

:host {

  .main-section {
    width: 100%;
    height: calc(100vh - pxToRem.rem-calc(90));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    .greetings-container {
      width: 100%;
      display: flex;
      justify-content: center;

      .greetings-text {

        p:not(:last-of-type) {
          width: 100%;
          font-weight: 700;
          font-size: 2rem;
          color: #fff;
          text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);

          &:last-of-type {
            font-size: 1.3rem;
            color: var(--oxford-blue);
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);

          }
        }

        &:last-child {
          font-size: 1.2rem;
          font-weight: 400;
          color: #001d3dff !important;
          text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
        }
      }
    }

    /* .profesional-title {
      width: 100%;
      display: flex;
      justify-content: center;
    } */

  }
}

@media screen and (min-width: pxToRem.rem-calc(1024)) {
  .greetings-container {
    align-items: center;

    .greetings-text {
      margin-right: 1rem;

      p:not(:last-of-type) {
        font-size: 3.5rem !important;
      }

      .profesional-title {
        font-size: 1.2rem;
      }
    }

    .frufru-img-container {
      margin-left: 0.5rem;
      padding: 0 1rem;
      width: 22%;
      height: 150%;


      .computer-img {
        height: 100%;
        width: 100%;
        background-image: url('https://raw.githubusercontent.com/MicaelliMedeiros/micaellimedeiros/master/image/computer-illustration.png');
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}
