<section class="main-section">
  <div class="greetings-container">
    <div class="greetings-text">
      <p>Hi! I Am</p>
      <p>Matheus Lima</p>
      <p [ngStyle]="{'color': 'var(--oxford-blue)'}">Full Stack Developer</p>
    </div>
  </div>

  <!-- <div class="profesional-title">
    <p>Full Stack Developer</p>
  </div> -->

  <!-- <div class="programming-languages-icons">
    <p-carousel
      [value]="programmingLanguagesLinks"

      [numVisible]="3"
      [numScroll]="1"
    >
      <ng-template pTemplate="header"></ng-template>

      <ng-template let-link pTemplate="item">
        <div class="icon-box">
          <img src="{{link}}" alt="Language Icon">
        </div>
      </ng-template>

    </p-carousel>
  </div> -->
</section>
