<section class="header-container">
  <div class="logo-box" (click)="RouteToHome()"></div>

  <nav *ngIf="false">
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About Me</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact Me</a></li>
    </ul>
  </nav>

  <div class="sidebar-container">
    <p-sidebar [(visible)]="sidebarState" [fullScreen]="true" [baseZIndex]="10000" (onHide)="CloseSidebar()">
      <ul>
        <li><a href="#home" (click)="HandleSidebar()">Home</a></li>
        <li><a href="#about" (click)="HandleSidebar()">About Me</a></li>
        <li><a href="#projects" (click)="HandleSidebar()">Projects</a></li>
        <li><a href="#contact" (click)="HandleSidebar()">Contact Me</a></li>
      </ul>
    </p-sidebar>

    <button pButton pRipple type="button" (click)="HandleSidebar()" class="p-button-text" icon="pi pi-bars"></button>
  </div>
</section>
